# ==========================
# Node / React Native
# ==========================
node_modules/

android/.gradle/
android/build/
android/app/build/

ios/build/

# Expo
.expo/
.expo-shared/

# ==========================
# Python
# ==========================
backend/venv/
__pycache__/
*.pyc
*.pyo

# ==========================
# Archivos temporales
# ==========================
backend/uploads/
*.log

# ==========================
# Firebase
# ==========================
google-services.json

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Sistema Operativo
# ==========================
.DS_Store
Thumbs.db